<div class="description-container">
  <label>{{localize "STREET_FIGHTER.Common.description"}}</label>
  {{editor enrichedDescription target="system.description" button=true editable=isEditable}}
</div>
